* {
  box-sizing: border-box;
}

.website_game {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.card> .back {
  background-image: url("img/back.jpg");
  width: 100%;
  height: 100%;
}

.card > .back {
  display: block;
}

.card > .front {
  display: none;
}

.card {
  margin: 10px;
  border: solid 1px #8A89C0;
  height: 150px;
  width: 150px;
  background-color: #8A89C0;
}

.website_youWon {
  display: none;
  height: 100%;
  width: 100%;
}